#hero{
    overflow:hidden;
    background-image: url('img/download.jpe');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.dotPoints li{
    color: white;
    text-shadow: 0 2px 5px #000000;
}

.dotPoints{
    margin-top: 30vh;
    opacity: 0;
    position: relative;
    right: 100%;
}

.formPanel{
    margin-top: 30vh;
}

.panel{
    padding: 25px;
}

h1, .productHeading h2{
    color: white;
    text-shadow: 0 2px 5px #000000;
}

.formDone{
    width: 100%;
}
.floating {
    z-index: 99;
    position: fixed;
}

.roundButton {
    border-radius: 50%;
    box-shadow: 0 2px 5px #000000;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    line-height: 4.5em;
    padding: 0;
    display: inline-block;
}

#products {
    height: 100vh;
    background: #ecf0f1;
}

.topRow{
    padding-top: 30px;
}

.productHeading{
    margin-top: 40vh;
}

.productCarousel{
    margin-top: 20vh;
    vertical-align: middle;
}

.leftCarouselButton{
    background-image: none!important;
}

.rightCarouselButton{
    background-image: none!important;
}

.carousel-control{
    text-shadow: 0 2px 5px #000000;
}

.productContainer{
    height: 30vh;
}

#values{
    height: 100vh;
}

.valuePadding{
    padding: 15px 0px;
}

.valuesHeading{
    margin-top: 30vh;
}

.valueIcon{
    margin-right: 0px;
    margin-bottom: 30px;
}

.alignRight{
    text-align: right;
}

.valueDescription{
    color: #aaaaaa;
    font-size: 20px;
}

.valueTitle{
    font-size: xx-large;
    text-transform: uppercase;
}

.valueSubtitle{
    font-size: xx-large;
    text-transform: uppercase;
}

.valueSectionTitle{
    text-shadow: none!important;
}

.heroList{
    margin-bottom: 0.8em;
}

.heroHeading{
}

.valuesSummary{
    text-align: center;
    padding-bottom: 25px;
}

.valuesCaption{
}

.active > a{
    color: #4caf50!important;
    background:  #ffffff!important;
}

.hvr-sweep-to-top:before{
    background:  #4caf50!important;
}
.hvr-sweep-to-top a:hover{
    color:  #ffffff!important;
}

.formPanel{
    opacity: 0;
    position: relative;
    left: 100%;
}

#team{
    height:100vh;
}

.teamHeading{
    padding-top: 30vh;
    height: 100vh;
    background-image: url('img/team.jpe');
    background-size: cover;
    background-attachment: fixed;
}

.teamDescription{
    padding: 50px 50px;
    height: 100vh;
    background: rgba(240, 240, 240, 1.0);
}

.teamEntry{
    height: 32vh;
}

.teamImg{
    margin-right: 25px;
}

.memberName{
    font-size: xx-large;
    text-transform: uppercase;
    line-height: 0px;
    margin-bottom: 25px;
}

.teamSlogan{
    color:white;
    width: 30vh;
    align: center;
    margin-right: auto;
    margin-left: auto;
}

.valueGrid{
    padding: 25px 0px;
    background: rgba(240, 240, 240, 1);
    background-size: cover;
    background-attachment: fixed;
}

.clientsBanner{
    padding-top: 4vh;
    background-image: url('img/clients.jpe');
    height: 33vh;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.clientsContent{
    padding: 50px 100px;
    height: 67vh;
    background: rgba(240, 240, 240, 1);
}

.clientImage{
    margin-bottom: 25px;
    width: 200px;
    height: 200px;
}

.noPad{
    padding: 0px;
}

.panel-title{
    text-transform: uppercase;
}

blockquote{
    border-left: 5px solid #4caf50
}

.testimonialHeading{
    text-transform: uppercase;
}

hr {
    border-top: 1px solid #cccccc;
    margin-top: 0px;
}

.testimonial {
    margin: 0px 50px;
}

.fadeScroll{
    opacity: 0.0;
}