#hero{
    overflow:hidden;
    background: url('img/download.jpe') fixed;
    background-size: cover;
    min-height: 100vh;
}

.formPanel{
    margin-top: 30%;
    opacity: 0;
    position: relative;
    left: 100%;
}

.dotPoints{
    margin-top: 30%;
    opacity: 0;
    position: relative;
    right: 100%;
}

.dotPoints li{
    color: #fff;
    text-shadow: 0 2px 5px #000000;
}

.panel{
    padding: 25px;
}

h1,
.productHeading h2 {
    color: #fff;
    text-shadow: 0 2px 5px #000000;
}

.formDone{
    width: 100%;
}
.floating {
    z-index: 99;
    position: fixed;
}

#products {
    min-height: 100vh;
    background: #ecf0f1;
}

.topRow{
    padding-top: 30px;
}

.productHeading{
    margin-top: 40vh;
}

.productCarousel{
    margin-top: 20vh;
    vertical-align: middle;
}

.leftCarouselButton, .rightCarouselButton { background-image: none !important; }

.carousel-control{
    text-shadow: 0 2px 5px #000000;
}

.productContainer{
    height: 30vh;
}

#values{
    min-height: 100vh;
}

.valuePadding{
    padding: 15px 0px;
}

.valuesHeading{
    margin-top: 30vh;
}

.valueIcon { margin: auto 0 30px auto; }

.alignRight {
    text-align: right;
}

.valueDescription{
    color: #aaa;
    font-size: 20px;
}

.valueTitle, .valueSubtitle {
    font-size: xx-large;
    text-transform: uppercase;
}

.valueSectionTitle{
    text-shadow: none!important;
}

.heroList{
    margin-bottom: 0.8em;
}

.valuesSummary{
    text-align: center;
    padding-bottom: 25px;
}

.active > a{
    color: #4caf50 !important;
    background:  #fff !important;
}

.hvr-sweep-to-top:before{
    background:  #4caf50 !important;
}
.hvr-sweep-to-top a:hover{
    color:  #fff !important;
}

#team {
    min-height: 100vh;
}

.teamHeading{
    padding-top: 30vh;
    min-height: 100vh;
    background: url('img/team.jpe') fixed;
    background-size: cover;
}

.teamDescription{
    padding: 50px 50px;
    min-height: 100vh;
    background: rgba(240, 240, 240, 1.0);
}

.teamEntry{
    padding: 15px;
}

.teamImg{
    height: auto;
}

.memberName{
    font-size: xx-large;
    text-transform: uppercase;
    line-height: 0px;
    margin-bottom: 25px;
}

.teamSlogan{
    color: #fff;
    width: 30vh;
    align: center;
    margin: auto;
}

.valueGrid{
    padding: 25px 0px;
    background: rgb(240, 240, 240);
}

#testimonials{
    background: rgb(240, 240, 240);
}

.clientsBanner{
    padding-top: 4vh;
    background: url('img/clients.jpe') fixed;
    min-height: 33vh;
    background-size: cover;
    color: #fff;
}

.clientsContent{
    padding: 50px 100px;
    min-height: 67vh;
    background: rgba(240, 240, 240, 1);
}

.clientImage{
    margin-bottom: 25px;
    width: 200px;
    height: 200px;
}

.noPad{
    padding: 0px;
}

.panel-title{
    text-transform: uppercase;
}

blockquote{
    border-left: 5px solid #4caf50
}

.testimonialHeading{
    text-transform: uppercase;
}

hr {
    border-top: 1px solid #cccccc;
    margin-top: 0px;
}

.testimonial { margin: 0px 50px; }

.fadeScroll{ opacity: 0; }

html, body { overflow-x: hidden; }

.panel {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.grey {
    background: #ecf0f1;
}

.space {
    padding: 25px 5px;
}

.padding-fix{
    padding: 0 0px 20px 0px;
}

.crop {
    width: 300px;
    height: 200px;
    display: initial;
}

.youtube-box {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
